<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.security.daegucatholic.mapper.PostMapper">

    <!-- 게시글 삽입 -->
    <insert id="insertPost" parameterType="com.security.daegucatholic.model.Post">
        INSERT INTO posts (user_id, title, content)
        VALUES (#{userId}, #{title}, #{content})
    </insert>

    <!-- 게시글 ID로 조회 -->
    <select id="findPostById" parameterType="int" resultType="com.security.daegucatholic.model.Post">
        SELECT * FROM posts WHERE id = #{id}
    </select>

    <!-- 특정 유저의 모든 게시글 조회 -->
    <select id="findPostsByUserId" parameterType="int" resultType="com.security.daegucatholic.model.Post">
        SELECT * FROM posts WHERE user_id = #{userId}
    </select>

    <!-- 모든 게시글 조회 -->
    <select id="findAllPosts" resultType="com.security.daegucatholic.model.Post">
        SELECT * FROM posts
    </select>

    <!-- 게시글 업데이트 -->
    <update id="updatePost" parameterType="com.security.daegucatholic.model.Post">
        UPDATE posts
        SET title = #{title}, content = #{content}, updated_at = CURRENT_TIMESTAMP
        WHERE id = #{id}
    </update>

    <!-- 게시글 삭제 -->
    <delete id="deletePostById" parameterType="int">
        DELETE FROM posts WHERE id = #{id}
    </delete>
</mapper>